.footer {
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.footer-content > div {
  width: 100%;
}

.footer > div:first-child h3 {
  margin-left: 40px;
}

.columns {
  display: flex;
}

.columns div {
  margin: 30px 40px;
}

.columns ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-content > div:last-child > div:first-child {
  margin-left: 40px;
}
