div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  width: 18%;
  margin: 0 5px;
  border-radius: 18px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 480px) {
  img {
    width: 20%;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  img {
    width: 16%;
    border-radius: 14px;
  }
}
