@font-face {
  font-family: "NetflixSans";
  src: url("../assets/fonts/NetflixSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

div {
  font-family: "NetflixSans", sans-serif;
  height: 100%;
}

app-nav-bar {
  position: fixed;
  z-index: 3;
}
