.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 40px;
  background: none;
  position: fixed;
  z-index: 3;
}

.div-logo {
  width: 15%;
  height: 100%;
  display: flex;
}

.div-logo img {
  width: 100%;
}

.options {
  width:  85%;

  display: flex;
  align-items: center;
}

app-options {
  width: 100%;
}
