@font-face {
  font-family: "NetflixSans";
  src: url("../../assets/fonts/NetflixSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.index-content {
  margin-bottom: 100px;
}

.img-class {
  display: flex;
  justify-content: center;
  width: 100%;
}

.caroseul {
  border: 2px solid #fff;
  border-radius: 18px;
  width: 95%;
  height: 600px;
  overflow: hidden;
}

.linear-gradient {
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url(../../assets/images/imgFundo1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.divs-flow {
  display: flex;
  flex-direction: row;
}

.divs-flow .left-caroseul {
  margin-left: 20px;
}

.divs-flow .right-caroseul {
  margin-right: 20px;
}

.divs-flow button {
  position: relative;
  bottom: 20%;
  border: none;
  height: 80px;
  width: 25px;
  border-radius: 18px;
  background-color: #353534;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divs-flow button:hover {
  background-color: #1a1a1a;
}

.caroseul-text {
  margin-bottom: 50px;
  margin-left: 60px;
}

.caroseul-text h1 {
  margin: 0;
  font-size: 4em;
  font-family: "NetflixSans", sans-serif;
  font-weight: bold;
  width: 65%;
  color: #fff;
  z-index: 1;
}

.caroseul-text p {
  margin: 20px 0;
  color: #b9b7b7;
  font-size: 1.5em;
}
