@font-face {
  font-family: "NetflixSans";
  src: url("../../assets/fonts/NetflixSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.index-content {
  margin-bottom: 100px;
}

.img-class {
  display: flex;
  justify-content: center;
  width: 100%;
}

.caroseul {
  border: 2px solid #fff;
  border-radius: 18px;
  width: 95%;
  height: 600px;
  overflow: hidden;
}

.linear-gradient {
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url(../../assets/images/imgFundo1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.divs-flow {
  display: flex;
  flex-direction: row;
}

.divs-flow .left-caroseul {
  margin-left: 20px;
}

.divs-flow .right-caroseul {
  margin-right: 20px;
}

.divs-flow button {
  position: relative;
  bottom: 20%;
  border: none;
  height: 80px;
  width: 25px;
  border-radius: 18px;
  background-color: #353534;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divs-flow button:hover {
  background-color: #1a1a1a;
}

.caroseul-text {
  margin-bottom: 50px;
  margin-left: 60px;
}

.caroseul-text h1 {
  margin: 0;
  font-size: 4em;
  font-family: "NetflixSans", sans-serif;
  font-weight: bold;
  width: 65%;
  color: #fff;
  z-index: 1;
}

.caroseul-text p {
  margin: 20px 0;
  color: #b9b7b7;
  font-size: 1.5em;
}

.bottom-caroseul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bottom-caroseul fa-icon {
  color: #fff;
}

.bottom-caroseul button {
  background-color: #808080;
  width: 70px;
  height: 4px;
  border-radius: 10px;
  border: none;
  margin: 0 5px;
  transition: background-color 0.3s ease-in-out;
}

.bottom-caroseul button:hover {
  background-color: #d6d6d6;
}

.bottom-caroseul button:first-of-type {
  margin-left: 20px;
}

.login-top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-top-section input[type="text"] {
  border-color: #2bb871;
  width: 350px;
  height: 55px;
  margin-right: 10px;
  border-radius: 60px;
  background-color: #201c1f;
  padding-left: 10px;
  color: #fff;
  font-size: 1.2em;
}

.login-top-section input[type="text"]::placeholder {
  font-weight: bold;
  padding-left: 10px;
}

.login-top-section input[type="text"]:placeholder-shown {
  border: 1px solid #6b6b71;
}

.login-top-section button {
  background-color: #e50914;
  border: none;
  border-radius: 60px;
  color: #fff;
  font-size: 1.6em;
  padding: 15px 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-top-section button:hover {
  background-color: #c11119;
}

.div-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.div-prices * {
  margin: 0;
}

.prices {
  border: 2px solid #484241;
  background-color: rgba(92, 85, 87, 0.5);
  width: 80%;
  border-radius: 18px;
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.prices:hover {
  background-color: rgba(92, 85, 87, 0.8);
  transform: scale(1.025);
}

.text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.prices h3 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.2em;
}

.prices p {
  font-weight: bold;
  color: #bab3b4;
}

.prices button {
  margin-left: auto;
  width: 10%;
  background: linear-gradient(to bottom, #141212, #181415);
  color: #fff;
  border: 1.5px solid gray;
  border-radius: 18px;
  font-weight: bold;
  height: 35px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.prices:hover button {
  border: 2px solid #d6d6d6;
}

.caroseuls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.position-caroseuls {
  width: 80%;
  padding: 20px 70px;
  color: #fff;
  font-size: 1.2em;
}
