@font-face {
  font-family: "NetflixSans";
  src: url("../../assets/fonts/NetflixSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.index-content {
  margin-bottom: 20px;
}

.img-class {
  display: flex;
  justify-content: center;
  width: 100%;
}

.caroseul {
  border-radius: 18px;
  width: 95%;
  height: 600px;
  overflow: hidden;
}

.linear-gradient {
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url(../../assets/images/imgFundo1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.divs-flow {
  display: flex;
  flex-direction: row;
}

.divs-flow .left-caroseul {
  margin-left: 20px;
}

.divs-flow .right-caroseul {
  margin-left: auto;
  margin-right: 20px;
}

.divs-flow button {
  position: relative;
  bottom: 20%;
  border: none;
  height: 80px;
  width: 25px;
  border-radius: 18px;
  background-color: #353534;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divs-flow button:hover {
  background-color: #1a1a1a;
}

.caroseul-text {
  margin-bottom: 50px;
  margin-left: 60px;
}

.caroseul-text h1 {
  margin: 0;
  font-size: 4em;
  font-family: "NetflixSans", sans-serif;
  font-weight: bold;
  width: 65%;
  color: #fff;
  z-index: 1;
}

.caroseul-text p {
  margin: 20px 0;
  color: #b9b7b7;
  font-size: 1.5em;
}

.bottom-caroseul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bottom-caroseul fa-icon {
  color: #fff;
}

.bottom-caroseul button {
  background-color: #808080;
  width: 70px;
  height: 4px;
  border-radius: 10px;
  border: none;
  margin: 0 5px;
  transition: background-color 0.3s ease-in-out;
}

.bottom-caroseul button:hover {
  background-color: #d6d6d6;
}

.bottom-caroseul button:first-of-type {
  margin-left: 20px;
}

.login-top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-top-section input[type="text"] {
  border-color: #2bb871;
  width: 350px;
  height: 55px;
  margin-right: 10px;
  border-radius: 60px;
  background-color: #201c1f;
  padding-left: 10px;
  color: #fff;
  font-size: 1.2em;
}

.login-top-section input[type="text"]::placeholder {
  font-weight: bold;
  padding-left: 10px;
}

.login-top-section input[type="text"]:placeholder-shown {
  border: 1px solid #6b6b71;
}

.login-top-section button {
  background-color: #e50914;
  border: none;
  border-radius: 60px;
  color: #fff;
  font-size: 1.6em;
  padding: 15px 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-top-section button:hover {
  background-color: #c11119;
}

.div-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.div-prices * {
  margin: 0;
}

.prices {
  background-color: rgba(92, 85, 87, 0.5);
  width: 80%;
  border-radius: 18px;
  padding: 20px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.prices:hover {
  background-color: rgba(92, 85, 87, 0.8);
  transform: scale(1.025);
}

.text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.prices h3 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.2em;
}

.prices p {
  font-weight: bold;
  color: #bab3b4;
}

.prices button {
  margin-left: auto;
  width: 10%;
  background: linear-gradient(to bottom, #141212, #181415);
  color: #fff;
  border: 1.5px solid gray;
  border-radius: 18px;
  font-weight: bold;
  height: 35px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.prices:hover button {
  border: 2px solid #d6d6d6;
}

.caroseuls {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.position-caroseuls {
  width: 80%;
  padding: 20px 70px;
  color: #fff;
  font-size: 1.2em;
}

.reasons-watch {
  width: 80%;
  padding: 20px 70px;
  color: #fff;
  font-size: 1.2em;
  margin: 0 auto;
}

.reasons-flow {
  display: flex;
  font-size: 0.8em;
}

.reason-card {
  margin: 0 8px;
  padding: 0 20px;
  background-color: #272727;
  border-radius: 18px;
  width: 30%;
}

.reason-card h3 {
  margin-bottom: 0;
}

.reason-card svg {
  width: 25%;
  float: right;
}

.frequently-questions {
  width: 80%;
  padding: 20px 70px;
  color: #fff;
  font-size: 1.2em;
  margin: 0 auto;
}

.questions {
  font-size: 0.8em;
  border-radius: 18px;
  background-color: #272727;
  color: #fdfdfd;
  padding: 5px 20px;
  margin: 10px 0;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.questions:hover {
  background-color: #3f3f3f;
}

.questions fa-icon {
  font-size: 2em;
  margin-left: auto;
}

.flow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.flow-btn button {
  background-color: #e50914;
  border: none;
  border-radius: 60px;
  color: #fff;
  font-size: 0.9em;
  padding: 10px 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.flow-btn button:hover {
  background-color: #c11119;
}

@media only screen and (max-width: 480px) {
  .caroseul {
    height: 250px;
  }

  .divs-flow button {
    bottom: 5%;
    height: 60px;
    width: 15px;
    font-size: 1em;
  }

  .caroseul-text {
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .caroseul-text h1 {
    font-size: 1.2em;
    width: 85%;
  }

  .caroseul-text p {
    font-size: 0.7em;
    width: 70%;
  }

  .bottom-caroseul button {
    width: 40px;
  }

  .login-top-section input[type="text"] {
    width: 180px;
    height: 40px;
  }

  .login-top-section button {
    font-size: 1em;
    padding: 13px 20px;
  }

  .prices {
    width: 80%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
  }

  .prices h3 {
    font-size: 1em;
  }

  .prices p {
    font-size: 0.8em;
  }

  .prices button {
    width: 35%;
    height: 35px;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 20px;
  }

  .position-caroseuls {
    width: 90%;
    padding: 20px 30px;
  }

  .reasons-watch {
    width: 90%;
    padding: 20px 30px;
    margin-right: 0;
    margin-left: 0;
  }

  .reasons-flow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reason-card {
    margin: 10px 0;
    padding: 0 20px;
    width: 80%;
  }

  .reason-card h3 {
    margin-bottom: 10px;
    font-size: 1em;
  }

  .frequently-questions {
    width: 80%;
    padding: 20px 30px;
    margin-right: 0px;
  }

  .questions {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .caroseul {
    height: 300px;
  }

  .divs-flow button {
    bottom: 15%;
    height: 60px;
    width: 15px;
    font-size: 1em;
  }

  .caroseul-text {
    margin-left: 15px;
    margin-bottom: 30px;
  }

  .caroseul-text h1 {
    font-size: 1.8em;
    width: 85%;
  }

  .caroseul-text p {
    font-size: 0.8em;
  }

  .bottom-caroseul button {
    width: 50px;
  }

  .login-top-section input[type="text"] {
    width: 300px;
    height: 40px;
  }

  .login-top-section button {
    font-size: 1.3em;
    padding: 10px 30px;
    margin: 0px;
  }

  .prices {
    width: 80%;
    padding: 20px 30px;
  }

  .prices h3 {
    font-size: 1em;
    width: 80%;
  }

  .prices p {
    font-size: 0.8em;
    width: 80%;
  }

  .prices button {
    width: 35%;
    height: 35px;
    font-size: 0.9em;
  }

  .position-caroseuls {
    width: 90%;
    padding: 20px 30px;
  }

  .reasons-watch {
    width: 90%;
    padding: 20px 30px;
    margin-right: 0;
    margin-left: 0;
  }

  .reasons-flow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .reason-card {
    margin: 10px 0;
    padding: 0 20px;
    width: 80%;
  }

  .reason-card h3 {
    margin-bottom: 10px;
  }

  .frequently-questions {
    width: 90%;
    padding: 20px 30px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .questions-flow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .questions {
    width: 80%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .caroseul {
    height: 400px;
  }

  .divs-flow button {
    top: 5%;
  }

  .caroseul-text h1 {
    font-size: 2.5em;
  }

  .caroseul-text p {
    font-size: 1em;
  }

  .prices {
    width: 80%;
    padding: 20px 30px;
  }

  .prices h3 {
    font-size: 1em;
  }

  .prices p {
    font-size: 0.8em;
  }

  .prices button {
    width: 20%;
    height: 35px;
    font-size: 1em;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .divs-flow button {
    top: 10%;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
}

@media only screen and (min-width: 1921px) {
}
