<div class="index-content">
  <div class="top-section">
    <div class="img-class">
      <div class="caroseul">
        <div class="linear-gradient">
          <div class="divs-flow">
            <div class="left-caroseul">
              <button><fa-icon [icon]="arrowLeft"></fa-icon></button>
            </div>

            <div class="caroseul-text">
              <h1>Filmes, séries e muito mais, sem limites</h1>

              <p>A partir de R$20,90. Cancele quando quiser.</p>
            </div>

            <div class="right-caroseul">
              <button><fa-icon [icon]="arrowRight"></fa-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-caroseul">
      <fa-icon [icon]="playBtn"></fa-icon>

      <button></button>
      <button></button>
      <button></button>
      <button></button>
      <button></button>
    </div>

    <div class="login-top-section">
      <input type="text" name="email" id="email" placeholder="Email" />
      <button>Vamos lá</button>
    </div>
  </div>

  <div class="mid-section">
    <div class="div-prices">
      <div class="prices">
        <div class="text">
          <h3>A Netflix que você adora por apenas R$ 20,90.</h3>

          <p>
            Assista à Netflix com alguns intervalos para anúncios e economize.
          </p>
        </div>

        <button>Saiba mais</button>
      </div>
    </div>
  </div>

  <div class="lower-section">
    <div class="caroseuls">
      <div class="position-caroseuls">
        <h1>Em alta</h1>
        <app-caroseul></app-caroseul>

        <h1>Só na Netflix</h1>
        <app-caroseul></app-caroseul>
      </div>
    </div>
  </div>
</div>
