<div class="section-home">
  <div class="home-flow">
    <div class="section-top">
      <div class="video-div">
        <div class="left-side">
          <img src="../../assets/images/outer-banks.png" alt="movie-logo" />

          <h3>Assista agora à temporada 4 completa</h3>

          <p>
            Em uma ilha com moradores pobres e ricos, John B e sua turma vivem
            aventuras cheias de mistério em busca de um tesouro perdido.
          </p>

          <div>
            <button><fa-icon [icon]="play"></fa-icon>Assistir</button>

            <button><fa-icon [icon]="info"></fa-icon> Mais informações</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
