<div class="opt-profile">
  <div class="hamburger-menu" (click)="toggleMobileMenu()">
    <fa-icon [icon]="bars"></fa-icon>
  </div>

  <div class="navigate">
    <ul>
      <li><a href="">Início</a></li>
      <li><a href="">Séries</a></li>
      <li><a href="">Filmes</a></li>
      <li><a href="">Bombando</a></li>
      <li><a href="">Minha lista</a></li>
      <li><a href="">Navegar por idiomas</a></li>
    </ul>
  </div>

  <div class="actions">
    <fa-icon [icon]="magnifyingGlass"></fa-icon>
    <fa-icon [icon]="bell"></fa-icon>
    <img src="../../../assets/images/prof-pic.png" alt="profile picture" />
    <fa-icon [icon]="caretDown"></fa-icon>
  </div>
</div>

<div class="mobile-nav" [class.active]="isMobileMenuOpen">
  <ul>
    <li><a href="">Início</a></li>
    <li><a href="">Séries</a></li>
    <li><a href="">Filmes</a></li>
    <li><a href="">Bombando</a></li>
    <li><a href="">Minha lista</a></li>
    <li><a href="">Navegar por idiomas</a></li>
  </ul>
</div>
<div class="overlay" [class.active]="isMobileMenuOpen" (click)="toggleMobileMenu()"></div>
