.opt-profile {
  color: #fff;
  border: 1px solid red;
}

.navigate {
  display: flex;
  flex-direction: row;
}

.navigate ul {
  display: flex;
  list-style: none;
}

.navigate ul li {
  margin: 0 10px;
  font-size: 0.9em;
}

.navigate a {
  color: #fff;
  text-decoration: none;
}

.actions {
  display: flex;
  align-items: center;
}

.actions * {
  margin: 0 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.actions img {
  width: 7%;
  border-radius: 6px;
}
